div#cont
{
   width: 800px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: 150 px;
   text-align: right;
}
body
{
   text-align: center;
   margin: 0; 
   
   }
.uuu
{
	size:300px;
		face:"B Nazanin";
}
